.container {
    position: absolute;
    top: 20px;
    left: 10px; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    line-height: 0px;
}

.companyName {
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.331);
    font-size: 32px;
    font-weight: 400;
    line-height: 0px;
}

.site {
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.331);
    font-size: 20px;
    font-weight: 100;

    line-height: 0px;
}